<div class="card" [class.disabled]="disabled" [class.option-selected]="optionSelected">
  <div class="card-item" (click)="onClick()" id="card">
    <div class="card-item-first">
      <span class="bi bi-caret-right-fill"></span>

      <h4>{{ cardTitle }}</h4>
    </div>

    <div *ngIf="optionSelected">
      {{ optionSelected.label }}
    </div>
  </div>

  <div class="card-expanded" *ngIf="cardIsExpanded">
    <div class="options">
      <div class="option center" *ngFor="let option of options" (click)="option.action(option)">
        {{ option.label }}
      </div>
    </div>
  </div>
</div>
