.all-screen {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--primary-color-dark-opacity);
  padding: 4rem;

  z-index: 999;
}

.team-modal {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  padding: 1rem;

  background-color: var(--white);
}

.team-modal-body {
  width: 100%;
  height: calc(100% - 40px);
}

.team-details {
  height: 80px;

  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  img {
    height: 80px;
  }
}

.team-modal-buttons {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
}