h1 {
  color: var(--secondary-color-dark);
  font-weight: bold;
}

h2 {
  color: var(--secondary-color)
}

h3 {
  color: var(--secondary-color)
}

.tabs {
  width: 100%;
  height: calc(100% - 60px);
}

.tabs-header {
  height: 40px;
  width: 100%;
  border-bottom: solid 2px var(--primary-color);
  
  display: flex;
  gap: 2px;
}

.tab-item {
  width: 100%;
}

.tab-active {
  background-color: var(--primary-color);
  border-radius: 5px 5px 0 0;
}

.tab-inactive {
  background-color: var(--background);
  border: solid 1px var(--primary-color);
  border-radius: 5px 5px 0 0;

  user-select: none;
  cursor: pointer;
  transition: 0.2s;
}

.tab-inactive:hover {
  filter: brightness(0.8)
}

.mb1 {
  margin-bottom: 1rem;
}

.darker {
  color: var(--secondary-color-dark);
  margin-left: 1rem;
}

.tabs-body {
  height: 100%;
  width: 100%;
  padding: 1rem;

  max-height: calc(100% - 88px);
  overflow-y: scroll;
}

.player {
  height: 40px;
  border-bottom: 1px solid var(--primary-color);

  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 25px;
  }
}

.player-margin-left {
  margin-left: 33px
}

.player-100 {
  width: 100%;
}

.player-50 {
  width: 50%;
  min-width: 150px;
}

.player-30 {
  width: 30%;
  min-width: 20px;
}

.statics-tab {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.games {
  width: calc(40% - 0.5rem);
  min-width: 250px;
  height: 100%;
  padding: 1rem;
}

.games-statics {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statics-row {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}

.wins {
  background-color: var(--success);
}

.draws {
  background-color: var(--grey);
}

.loses {
  background-color: var(--warning);
}

.lineup {
  width: calc(60% - 0.5rem);
  padding: 1rem;
  min-width: 400px;
  flex-direction: column;
  gap: 1rem;
}

.goals {
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.graph {
  width: 400px;
  height: 400px;
}

@media (max-width: 900px) {
  .games {
    width: 100%;
  };

  .lineup {
    width: 100%;
  }
}

