<div class="home">
  <app-season-select (change-season)="changeSeason()"> </app-season-select>
  
  <app-expansible-card
    (card-click)="toggleExpandedCard($event)"
    [card-is-expanded]="cardIsExpanded('countries')"
    card-title="Países"
    card-value="countries"
    [options]="countries"
    [option-selected]="countrySelected"
  > </app-expansible-card>

  <app-expansible-card 
    (card-click)="toggleExpandedCard($event)"
    [card-is-expanded]="cardIsExpanded('leagues')"
    card-title="Ligas"
    card-value="leagues"
    [disabled]="!countrySelected"
    [options]="leagues"
    [option-selected]="leagueSelected"
  > </app-expansible-card>

  <app-expansible-card
    (card-click)="toggleExpandedCard($event)"
    [card-is-expanded]="cardIsExpanded('teams')"
    card-title="Times"
    card-value="teams"
    [disabled]="!leagueSelected"
    [options]="teams"
  > </app-expansible-card>
</div>

<app-team
  [team-value]="teamSelected!"
  [league-code]="leagueSelected?.options.code"
  (team-close)="unselectTeam()"
> </app-team>